.centrar {
    justify-content: center;
    text-align: center;
}

nav{
    position: fixed;
}
*{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.posicion{
    margin-top: 120px;
    margin-bottom: 0px;
}

