.centrar {
    justify-content: center;
    text-align: center;
}

*{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.tamanio {
    width: 1150px;
}

